@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  margin-bottom: 2rem;
  font-weight: 400;
}

img {
  max-width: 37px;
  max-height: 20px;
}
.container {
  background-color: #000;
  max-height: 45rem;
  height: 45rem;
  max-width: 21.7rem;
  width: 21.7rem;
  border-radius: 3.5rem;
  border: 2px solid gray;
  outline-offset: 1px;
  outline: 1.5px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  height: 20px;
  margin-top: 20px;
}

.container .display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 30%;
}

.display span {
  color: white;
  font-size: 4.5rem;
  font-weight: 100;
  margin-right: 40px;
}

.container .buttons {
  height: 50%;
}

.buttons .first-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  margin: 5px;
}
.first-row button:nth-child(2),
.first-row button:nth-child(3),
.first-row button:nth-child(4) {
  margin-left: 10px;
}

.buttons .second-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  margin: 5px;
}

.second-row button:nth-child(2),
.second-row button:nth-child(3),
.second-row button:nth-child(4) {
  margin-left: 10px;
}

.buttons .third-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  margin: 5px;
}

.third-row button:nth-child(2),
.third-row button:nth-child(3),
.third-row button:nth-child(4) {
  margin-left: 10px;
}

.buttons .fourth-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  margin: 5px;
}

.fourth-row button:nth-child(2),
.fourth-row button:nth-child(3),
.fourth-row button:nth-child(4) {
  margin-left: 10px;
}

.buttons .fifth-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  margin: 5px;
}

.fifth-row button:nth-child(2),
.fifth-row button:nth-child(3) {
  margin-left: 10px;
}

.buttons .item {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: none;
  /* background-color: #8a817c; */
  /* background-color: #242423; */
  background-color: hsla(119, 3%, 12%, 1);
  font-weight: 300;
  font-size: 2em;
  color: #fff;
}

.buttons .item1:hover {
  background-color: hsla(119, 3%, 67%, 1);
}

.buttons .item1:active {
  background-color: hsla(119, 3%, 77%, 1);
}

.buttons .item2:hover {
  background-color: hsla(119, 3%, 35%, 1);
}

.buttons .item2:active {
  background-color: hsla(119, 3%, 45%, 1);
}

.buttons .item3:hover {
  background-color: hsl(39, 100%, 70%);
}

.buttons .item3:active {
  background-color: hsl(39, 100%, 80%);
}

.buttons .orange {
  background-color: hsl(39, 100%, 50%);
}

.buttons .gray {
  background-color: hsla(119, 3%, 57%, 1);
}
.buttons .small {
  font-size: 23px;
}
.buttons .black {
  color: #000;
  font-weight: 500;
}

.fifth-row .item:nth-child(1) {
  width: 150px;
  border-radius: 35rem;
  text-align: left;
  padding-left: 30px;
  margin-left: 5px;
}

.container .slider-box {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.container .slider-box .slider {
  background-color: #c5c5c5;
  height: 5px;
  width: 125px;
  border-radius: 50px;
}

.slider-box .slider:hover {
  background-color: #d9d9d9;
}
